body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
}

.nav-container {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
}

.nav1 {
  /* to highlight section we want to edit */
  background-color: #f8f8f8;
  padding: 10px;
}

.nav1 ul {
  /* to remove bullets of list */
  list-style-type: none;
  display: flex;
  /* to align items such that they are equally spaced from each other and from border */
  justify-content: space-around;
}

.nav1 li {
  display: inline;
  color: #1a1a1a;
}

.nav1 a {
  text-decoration: none;
  /* to make it look like button use padding and bg color
    background-color: yellowgreen; */
  padding: 5px 10px;
  color: #222;
  /* we added to make underline effect work as underline if will be absolute wrt a links only and not whole document if it is present it make a relative and due to which the under line effect on hover is absolute in area to the a link and not whole document 
    if it is disable we will see underline at bottom of webpage */
  position: relative;
}

.nav1 .login-btn {
  background-color: rgb(0, 194, 120);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  /* To change cursor on hover */
  cursor: pointer;
}

.nav1 a::after {
  content: "";
  position: absolute;
  /* height inc thickness of underline */
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0ac791;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after {
  transform: scaleX(1);
}

/* ------------------------------------------ */

.nav2 {
  width: 200px;
  background-color: #00a200;
  padding: 20px;
  color: white;
  /* align-items: center; */
}

.nav2 ul {
  list-style: none;
  /* text-align: center; */
  margin: 0;
  padding: 0;
  /* align-items: center; */
}

.nav2 .login-btn {
  width: 65%;
  height: 30px;
  background-color: #81d600;
  color: white;
  border: none;
  cursor: pointer;
}

.nav2 .login-btn:hover {
  background-color: #75bd00;
}

.nav2 a {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 12px;
  padding: 10px;
  width: 100%;
}

.nav2 a:hover {
  background-color: #81d600;
}

/* ---------------------------------------- */

.nav3 {
    background-color: #1aacac;
    padding: 10px;
}

.nav3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify content is mainly about width ie left to right while align-items is about height ie op to bottom */
    justify-content: space-around;
    align-items: center;
}

.nav3 a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.nav3 .dropdown-content {
    display: none;
}

.nav3 .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    background-color: #3e3e3e;
    min-width: 150px;
}

.nav3 .login-btn {
    color: #fff;
    background-color: #078360;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
